Social Media Content Automation.json
{
  "name": "Social Media Content Automation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1nzfa_9sNBm2RWgOJUJ5ztNHDoFsvKwv0-sC6DUIyWzY",
          "mode": "list",
          "cachedResultName": "Social Media Workflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nzfa_9sNBm2RWgOJUJ5ztNHDoFsvKwv0-sC6DUIyWzY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nzfa_9sNBm2RWgOJUJ5ztNHDoFsvKwv0-sC6DUIyWzY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -512,
        0
      ],
      "id": "56e2cc7c-826e-437c-b030-1b6f4491afd0",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "fiU4yAiWCFSnNSD5",
          "name": "Google Sheets Trigger account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=System: \"You are a social media strategist with expertise in content adaptation\"\n\n  User: \"Analyze this article and create a summary that:\n  1. Captures the 3 most important insights\n  2. Includes any actionable advice or tips\n  3. Maintains the original tone and perspective\n  4. Highlights implications for the target audience\n  5. Stays under 200 words for social media adaptation\n  \n  Article: {{ $json.newlinks }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -288,
        0
      ],
      "id": "05ed4957-e4ed-46cc-be3e-8f40f62255aa",
      "name": "Summarize News Article"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -208,
        224
      ],
      "id": "1af9221c-dbb3-4a3a-8f03-a981f48b6e20",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "eIgYT7b3BzRKTMKl",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Assume the role of an industry expert and draft a LinkedIn post discussing key points from a news article relevant to artificial intelligence. The post should provide insightful analysis, connect with current industry trends, and encourage professional engagement or discussion. Highlight any notable implications for the industry. Since LinkedIn supports detailed posts, ensure it is informative and structured. Include a professional call to action. Here's a summary of the article: {{ $json.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        64,
        0
      ],
      "id": "a17f6e04-fed6-4671-a793-c368321738b0",
      "name": "Generate LinkedIn Post Content"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        144,
        224
      ],
      "id": "39589a84-51fb-4fe2-bfaf-43532182ca70",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "eIgYT7b3BzRKTMKl",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -512,
        336
      ],
      "id": "e600299b-6e4a-4920-91a0-ced21dec7259",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "eIgYT7b3BzRKTMKl",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "person": "3ckz2_MdBy",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "15f77ccc-022c-49fb-b44b-503feb89fb4a",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "Qp2IjC96yDHyqXKU",
          "name": "LinkedIn account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Summarize News Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize News Article",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Summarize News Article": {
      "main": [
        [
          {
            "node": "Generate LinkedIn Post Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Generate LinkedIn Post Content",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate LinkedIn Post Content": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0be25f69-7649-4bb1-bef4-e1455b8e5f3c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "452645cea09fcd24cb0074808717231760a143cdc9750d1bde73146e648ddb87"
  },
  "id": "c2LFdrdCFCswmwgO",
  "tags": []
}